@charset "UTF-8";
/*Fonts*/
/*Junicode*/
@font-face {
  font-family: "junicoderegular";
  src: url("../fonts/Junicode-webfont.eot");
  src: url("../fonts/Junicode-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Junicode-webfont.woff2") format("woff2"), url("../fonts/Junicode-webfont.woff") format("woff"), url("../fonts/Junicode-webfont.ttf") format("truetype"), url("../fonts/Junicode-webfont.svg#junicoderegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* devonshire-regular - latin */
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
/* source-serif-pro-regular - latin */
@font-face {
  font-family: "Source_Serif_Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-serif-pro-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Serif Pro"), local("SourceSerifPro-Regular"), url("../fonts/source-serif-pro-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-serif-pro-v7-latin-regular.woff2") format("woff2"), url("../fonts/source-serif-pro-v7-latin-regular.woff") format("woff"), url("../fonts/source-serif-pro-v7-latin-regular.ttf") format("truetype"), url("../fonts/source-serif-pro-v7-latin-regular.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan_Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing_Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), url(" ../fonts/dancing-script-v14-latin-regular.woff") format("woff"), url(" ../fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url(" ../fonts/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
/* caveat-regular - latin */
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/caveat-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Caveat Regular"), local("Caveat-Regular"), url("../fonts/caveat-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/caveat-v7-latin-regular.woff2") format("woff2"), url("../fonts/caveat-v7-latin-regular.woff") format("woff"), url("../fonts/caveat-v7-latin-regular.ttf") format("truetype"), url("../fonts/caveat-v7-latin-regular.svg#Caveat") format("svg");
  /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v9-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v9-latin-regular.woff") format("woff"), url("../fonts/poppins-v9-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v9-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v9-latin-700.woff2") format("woff2"), url("../fonts/poppins-v9-latin-700.woff") format("woff"), url("../fonts/poppins-v9-latin-700.ttf") format("truetype"), url("fonts/poppins-v9-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Liens*/
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #f7c848;
}

html, body {
  margin: 0;
  padding: 0;
}

.centered {
  width: auto;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0;
}

/*Titres des documents*/
h1 {
  text-align: center;
  font-size: 3em;
  font-family: Poppins;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2, h3 {
  text-align: center;
  font-weight: normal;
}

.h3-ml {
  text-align: justify;
}

img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/*Lignes menus*/
@media screen and (min-width: 1280px) {
  .line {
    display: flex;
    margin: auto;
  }
}
body {
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  font-family: Poppins;
  font-size: 1.5em;
}

.footer a {
  font-family: Poppins;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: sticky;
  width: auto;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.footer a {
  display: flex;
}
.footer a:hover {
  animation-name: wiggle;
  animation-duration: 250ms;
}

@media screen and (min-width: 666px) {
  body {
    box-sizing: border-box;
  }

  .footer {
    position: sticky;
    width: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 1.5em;
  }

  .footer a {
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
  }

  .footer a {
    display: flex;
  }
  .footer a:hover {
    animation-name: wiggle;
    animation-duration: 250ms;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    position: sticky;
    width: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  /*Footer*/
  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 1.5em;
  }

  .footer a {
    display: flex;
  }
  .footer a:hover {
    animation-name: wiggle;
    animation-duration: 250ms;
  }
}
/*Header*/
header, footer, .btn {
  background-color: #579c87;
  color: #f7c848;
}

.header {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

/*Menus*/
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 0 48%;
  flex-wrap: wrap;
  text-align: center;
}

.card-content {
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
}

.card-content h2 {
  font-size: 2em;
  line-height: 2;
}
.card-content h2:hover {
  transform: scale(1.2);
  transition: all 500ms;
  animation-name: fadeOut;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.menu {
  font-family: Caveat;
}

.menu2 {
  font-family: Source_Serif_Pro;
}

.note-enchantee {
  font-family: Devonshire;
  background-color: #fcdfdb;
  color: #3c1218;
  min-height: 300px;
  min-width: 250px;
  padding-top: 30px;
}

.chic-française {
  font-family: Junicoderegular;
  font-weight: bold;
  background-color: #fff5fe;
  color: #c77412;
  min-height: 300px;
  min-width: 250px;
  padding-top: 30px;
}

.p-chic {
  background-image: -webkit-gradient(linear, to right, #d8852e 0%, #905bfd 70%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #d8852e 0%, #905bfd 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice-papilles {
  font-family: Dancing_Script;
  background-color: #f9f9f9;
  color: #0887fb;
  min-height: 300px;
  min-width: 250px;
  padding-top: 30px;
}

.p-delice {
  background-image: -webkit-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #0431df 0%, #0887fb 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette-gout {
  background-color: #fdfffd;
  color: #72bf56;
  min-height: 300px;
  min-width: 250px;
  padding-top: 30px;
  font-family: Kaushan_Script;
}

.p-palette {
  background-image: -webkit-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*Btn Prochainement*/
.btn-container {
  width: auto;
  justify-content: center;
  flex-grow: 3;
  display: flex;
  margin-bottom: 10px;
}

.btn {
  border-radius: 10px;
  text-align: center;
  width: 300px;
  font-family: poppins;
  font-size: 1.7em;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 48%;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
  }

  .card-content {
    margin-bottom: 25px;
    box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  }

  .card-content h2 {
    padding-top: 60px;
    font-size: 2em;
    line-height: 2;
  }
  .card-content h2:hover {
    transform: scale(1.2);
    transition: all 500ms;
    animation-name: fadeOut;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
  }

  .note-enchantee {
    min-height: 350px;
    min-width: 250px;
  }

  .chic-française {
    min-height: 350px;
    min-width: 250px;
  }

  .delice-papilles {
    min-height: 350px;
    min-width: 250px;
  }

  .palette-gout {
    min-height: 350px;
    min-width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 48%;
    flex-wrap: wrap;
    text-align: center;
  }

  .card-content {
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 25px;
    box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  }

  .card-content h2 {
    font-size: 2em;
    line-height: 2;
  }

  .menu {
    font-family: Caveat;
  }

  .menu2 {
    font-family: Source_Serif_Pro;
  }

  .note-enchantee {
    font-family: Devonshire;
    background-color: #fcdfdb;
    color: #3c1218;
    height: 400px;
    width: 450px;
    padding-top: 175px;
  }

  .chic-française {
    font-family: Junicoderegular;
    font-weight: bold;
    background-color: #fff5fe;
    color: #c77412;
    height: 400px;
    width: 450px;
    padding-top: 175px;
  }

  .p-chic {
    background-image: -webkit-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(to right, #d8852e 0%, #905bfd 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient to right, #d8852e 0%, #905bfd 70%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .delice-papilles {
    font-family: Dancing_Script;
    background-color: #f9f9f9;
    color: #0887fb;
    height: 400px;
    width: 450px;
    padding-top: 175px;
  }

  .p-delice {
    background-image: -webkit-linear-gradient(to right, #0431df 0%, #0887fb 66%);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(to right, #0431df 0%, #0887fb 66%);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(to right, #0431df 0%, #0887fb 66%);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(to right, #0431df 0%, #0887fb 66%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient to right, #0431df 0%, #0887fb 66%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .palette-gout {
    background-color: #fdfffd;
    color: #72bf56;
    height: 400px;
    width: 450px;
    font-family: Kaushan_Script;
    padding-top: 175px;
  }

  .p-palette {
    background-image: -webkit-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient to right, #3d9339 0%, #bfff7e 66%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  /*Btn Prochainement*/
  .btn-container {
    width: auto;
    justify-content: center;
    flex-grow: 3;
    display: flex;
  }

  .btn {
    border-radius: 10px;
    margin-bottom: 90px;
    text-align: center;
    width: 300px;
    font-family: poppins;
    font-size: 1.7em;
    padding: 5px;
  }
}
/*MENU 1 - La note enchantée*/
/*Containers*/
.card-container1 {
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  padding-top: 20px;
  font-size: 1em;
  line-height: 1.5;
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.content {
  padding: 0;
  margin: 0;
}

/*Plats*/
.starters1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
  margin-left: 40px;
}

.main-courses1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
  margin-left: 40px;
}

.desserts1 {
  display: flex;
  margin: auto;
  max-width: 90%;
  margin-left: 40px;
}

/*Prix*/
.prix1 {
  font-weight: bold;
  text-align: right;
  line-height: 2.3;
}

/*Titre du menu*/
.title1-1 {
  font-family: Devonshire;
  text-align: center;
  font-size: 1em;
}

.lignemenu {
  width: 90%;
  height: 90%;
  padding-top: 20px;
  padding-left: 5px;
}

.imgnote1 {
  width: 20%;
  height: 20%;
}

/*Note enchantée, titre de fin*/
.titlefin {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.noteenchanteefin {
  font-family: Devonshire;
  padding: 10px;
  margin-top: -25px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.content {
  padding: 7px;
  margin: 0;
}

/*Plats*/
.starters1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-width: 250px;
}

.main-courses1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-width: 250px;
}

.desserts1 {
  display: flex;
  margin: auto;
  min-width: 250px;
}

/*Prix*/
.prix1 {
  font-weight: bold;
  text-align: right;
  line-height: 2.5;
}

/*Titre du menu*/
.title1-1 {
  font-family: Devonshire;
  text-align: center;
  font-size: 1em;
}

@media screen and (min-width: 666px) {
  .card-container1 {
    min-width: 640px;
  }

  .prix1 {
    line-height: 2;
  }
}
@media screen and (min-width: 760px) {
  .card-container1 {
    width: 730px;
  }

  .prix1 {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .card-container1 {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
    font-size: 1.5em;
    line-height: 2.5;
  }

  /*Plats*/
  .starters1 {
    display: flex;
    justify-content: space-between;
  }

  .main-courses1 {
    display: flex;
    justify-content: space-between;
  }

  .desserts1 {
    display: flex;
  }

  /*Prix*/
  .prix1 {
    font-weight: bold;
    text-align: right;
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
  }

  /*Titres du menu*/
  .title1-1 {
    font-family: Devonshire;
    text-align: center;
    font-size: 1.6em;
  }

  /*Note enchantée, titre de fin*/
  .titlefin {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .noteenchanteefin {
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
  }

  .line1 {
    display: flex;
    min-width: auto;
    justify-content: center;
    margin: auto;
  }

  .lignemenu {
    width: auto;
    height: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*MENU 2 - Le chic à la française*/
/*Containers*/
.card-container2 {
  background-color: #fff5fe;
  font-family: Source_Serif_Pro;
  box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  padding-top: 20px;
  font-size: 0.9em;
  line-height: 2;
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.content2 {
  padding: 5px;
  margin: 0;
}

/*Titres*/
.title2-1 {
  font-family: Junicoderegular;
  font-size: 1.5em;
  background-image: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title2-starters {
  color: #c67412;
  font-family: junicoderegular;
}

.title2-maincourses {
  color: #a56799;
  font-family: junicoderegular;
}

.title2-desserts {
  color: #6e4ccc;
  font-family: junicoderegular;
}

.lignemenu {
  width: 90%;
  height: auto;
  padding-top: 20px;
  padding-left: 5px;
}

.line2 {
  display: flex;
  justify-content: center;
  margin: auto;
}

/*Plats*/
.starters2 {
  color: #c67412;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.main-courses2 {
  color: #a56799;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.prix2 {
  margin-left: 10px;
  line-height: 2.8;
}

.ulprixmain2 {
  line-height: 5;
}

.desserts2 {
  color: #6e4ccc;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

@media screen and (min-width: 666px) {
  .card-container2 {
    min-width: 640px;
  }

  .prix2 {
    line-height: 2;
  }

  .ulprixmain2 {
    line-height: 2.3;
  }
}
@media screen and (min-width: 760px) {
  .card-container2 {
    width: 730px;
    font-size: 0.9em;
  }

  .starters2 {
    margin-left: 60px;
    max-width: 80%;
  }

  .main-courses2 {
    margin-left: 60px;
    max-width: 80%;
  }

  .desserts2 {
    margin-left: 60px;
    max-width: 80%;
  }

  .prix2 {
    line-height: 2;
  }
}
@media screen and (min-width: 1280px) {
  .card-container2 {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
    font-size: 1.5em;
    line-height: 2.5;
  }

  /*Titres*/
  .title2-1 {
    font-family: Junicoderegular;
    font-size: 2em;
    background-image: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .lignemenu {
    width: auto;
    height: auto;
  }

  .line2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  /*Plats*/
  .starters2 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .main-courses2 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .desserts2 {
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .ul2 {
    margin-left: 100px;
  }

  .ulprixmain2 {
    line-height: 4;
  }

  .ulprix {
    margin-left: 100px;
    line-height: 2.2em;
  }
}
.card-container3 {
  background-color: #edefef;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1em;
  line-height: 2;
}

.title3-1 {
  font-family: Dancing_Script;
  font-size: 1.5em;
  background-image: -webkit-gradient(linear, to right, #0431df 0%, #0887fb 66%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #0431df 0%, #0887fb 66%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #0431df 0%, #0887fb 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starters3 {
  display: flex;
  width: auto;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.main-courses3 {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.desserts3 {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.line3 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.lignemenu3 {
  width: 90%;
  height: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.ulprix3-3 {
  line-height: 1.5;
}

.prix3 {
  font-weight: bold;
  font-size: 1.15em;
  line-height: 2.5;
}

.ulprix3-2 {
  line-height: 3;
}

@media screen and (min-width: 660px) {
  .card-container3 {
    min-width: 640px;
  }

  .prix3 {
    line-height: 1.5;
  }

  .ulprix3-2 {
    line-height: 2.3;
  }
}
@media screen and (min-width: 760px) {
  .card-container3 {
    width: 730px;
  }

  .prix3 {
    line-height: 2;
  }

  .ulprix3-2 {
    line-height: 1.8;
  }

  .starters3 {
    margin-left: 60px;
    max-width: 80%;
  }

  .main-courses3 {
    margin-left: 60px;
    max-width: 80%;
  }

  .desserts3 {
    margin-left: 60px;
    max-width: 80%;
  }

  .line3 {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .lignemenu3 {
    width: auto;
    height: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .card-container3 {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
    line-height: 2.5;
  }

  /*Plats*/
  .starters3 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .main-courses3 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .desserts3 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  /*Prix*/
  .prix3 {
    font-weight: bold;
    text-align: right;
    display: flex;
    justify-content: space-between;
    line-height: 2;
  }

  .ulprix3-2 {
    line-height: 2.3;
  }

  .line3 {
    display: flex;
    min-width: 900px;
    justify-content: center;
    margin: auto;
  }

  .lignemenu3 {
    width: auto;
    height: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.card-container4 {
  background-color: #fdfffd;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0, 0, 0, 0.12);
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1em;
  line-height: 2;
}

.title4-1 {
  font-family: Kaushan_Script;
  font-size: 1.5em;
  background-image: -webkit-gradient(linear, to right, #3d9339 0%, #bfff7e 66%);
  /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #3d9339 0%, #bfff7e 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starters4 {
  display: flex;
  width: auto;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.main-courses4 {
  display: flex;
  width: auto;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.desserts4 {
  display: flex;
  width: auto;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 40px;
}

.line4 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.lignemenu4 {
  width: 90%;
  height: auto;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.ulprix4 {
  font-size: 1em;
  font-weight: bold;
  line-height: 3.5em;
}

.ulprix4-3 {
  line-height: 3;
  font-weight: bold;
}

@media screen and (min-width: 660px) {
  .card-container4 {
    min-width: 640px;
  }

  .prix4 {
    line-height: 2;
  }
}
@media screen and (min-width: 780px) {
  .card-container4 {
    width: 730px;
  }

  .ulprix4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
  }

  .ulprix4-3 {
    line-height: 2;
    font-weight: bold;
  }
}
@media screen and (min-width: 1280px) {
  .card-container4 {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
    font-size: 1.5em;
    line-height: 2.5;
  }

  /*Plats*/
  .starters4 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .main-courses4 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  .desserts4 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 80%;
  }

  /*Prix*/
  .ulprix4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 2.5;
  }

  .ulprix4-3 {
    line-height: 2.5;
    font-weight: bold;
  }

  .line4 {
    display: flex;
    max-width: 900px;
    justify-content: center;
    margin: auto;
  }

  .lignemenu4 {
    width: auto;
    height: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*Animations index*/
/* Animation des titres des menus sur l'index*/
@keyframes fadeOut {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/*Effet wiggle "Mentions légales" et "Contact*/
@keyframes wiggle {
  25% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(-3%);
  }
}
/*Animation bouton "Prochainement"*/
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    opacity: 1;
  }
}
.btn .fade1 {
  opacity: 0;
}

.btn .fade2 {
  opacity: 0;
}

.btn .fade3 {
  opacity: 0;
}

.btn:hover .fade1 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.btn:hover .fade2 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 400ms;
}

.btn:hover .fade3 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 700ms;
}

/*Animations menus*/
/*Animation des titres des catégories dans les menus*/
h3:hover::after {
  transform: scaleX(1);
}

h3::after {
  content: "";
  border-bottom: solid 2px;
  line-height: auto;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition-property: transform;
  transition: 1000ms;
  transform-origin: 0% 50%;
}

.containerml {
  padding-right: 100px;
  padding-left: 100px;
  font-family: open_sansregular;
  font-size: 1.2em;
}

/*# sourceMappingURL=style.css.map */
