
@media screen and (min-width: 375px)

{
  body
  {box-sizing: border-box;}


.footer p
{

  font-family: Poppins;
}}

@media screen and (min-width: 1280px)
{


.footer
{
  position: sticky;
  width:auto;
  left:0;
  bottom:0;
  z-index: 1;
}


/*Footer*/
.footer
{
  display:flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  font-family: Poppins;
  font-size: 1.5em;
}

.footer p
{
  &:hover{
  animation-name: wiggle;
  animation-duration: 250ms;}
}
}