body
  {box-sizing: border-box;}


  .footer
  {
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 1.5em;
  }
  
.footer a
{

  font-family: Poppins;
  display: flex;
  justify-content: space-between;
}


.footer
{
  position: sticky;
  width:auto;
  left:0;
  bottom:0;
  z-index: 1;
}


.footer a
{
  display: flex;
  &:hover{
  animation-name: wiggle;
  animation-duration: 250ms;}
}



@media screen and (min-width: 666px)

{
  body
  {box-sizing: border-box;}


  .footer
  {
    position: sticky;
    width:auto;
    left:0;
    bottom:0;
    z-index: 1;
  }

  .footer
  {
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-family: Poppins;
    font-size: 1.5em;
  }
  
.footer a
{

  font-family: Poppins;
  display: flex;
  justify-content: space-between;
}


.footer a
{
  display: flex;
  &:hover{
  animation-name: wiggle;
  animation-duration: 250ms;}
}
}


@media screen and (min-width: 1280px)
{


.footer
{
  position: sticky;
  width:auto;
  left:0;
  bottom:0;
  z-index: 1;
}


/*Footer*/
.footer
{
  display:flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  font-family: Poppins;
  font-size: 1.5em;
}

.footer a
{
  display: flex;
  &:hover{
  animation-name: wiggle;
  animation-duration: 250ms;}
}
}
