.card-container3
{
  background-color: #edefef;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.5em;
  line-height: 2;
} 


.content3
{
    padding: 0;
    margin:0;
}

.title3-1
{
    
  font-family: Dancing_Script;
  font-size: 2em;
    background-image: -webkit-linear-gradient(to right, #0431df 0%, #0887fb 66%); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to right, #0431df 0%, #0887fb 66%); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to right, #0431df 0%, #0887fb 66%); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to right, #0431df 0%, #0887fb 66%); /* For old Opera (11.1 to 12.0) */
  background-image:linear-gradient (to right, #0431df 0%, #0887fb 66%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.starters3
{
    display:flex;
    width: 780px;
    justify-content: space-between;
    
}

.main-courses3
{
  display:flex;
  justify-content: space-between;
  width: 780px;
}

.desserts3
{
  display: flex;
  justify-content: space-between;
  width: 780px;
}

.lignemenu3
{
  padding-top: 30px;
  margin:0;
}

.prix3
{
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.9em;
}