
.card-container2
{
  background-color: #fff5fe;
  font-family: Source_Serif_Pro;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.2em;
  line-height: 2.5;
} 


.title2-1
{
    font-family: Junicoderegular;
    font-size: 2em;
    background-image: -webkit-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For Chrome and Safari */
      background-image:    -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Fx (3.6 to 15) */
      background-image:     -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For pre-releases of IE 10*/
      background-image:      -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Opera (11.1 to 12.0) */
    background-image:linear-gradient (to right, #d8852e 0%, #905bfd 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.title2-starters
{
    
    color:#c67412;
    font-family: junicoderegular;
}
.title2-maincourses
{
    
    color:#a56799;
    
    font-family: junicoderegular;
}
.title2-desserts
{
    
    color: #6e4ccc;
    font-family: junicoderegular;
}
.starters2
{
    color:#c67412;
    display:flex;
    
}

.main-courses2
{
    color:#a56799;
    display:flex;
}

.desserts2
{
    color: #6e4ccc;
    
}

.ul2
{
    margin-left: 100px;
}

.prix2-1
{

    padding-left: 150px;
}
.ulprix
{
    margin-left: 100px;
    font-size: 1.15em;
    line-height: 2.2em;
}
