/*MENU 1 - La note enchantée*/
/*Containers*/

@media screen and (min-width: 350px)
{
    
.card-container1
{
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.5em;
  line-height: 2;
} 


.content
{
    padding: 0;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;

}

.desserts1
{
    display:flex;
    margin: auto;
    
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1.6em;
}


/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
display: flex;
max-width: 1000px;
justify-content: space-between;
margin: auto;
}
.card-container1
{
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.5em;
  line-height: 2;
} 


.content
{
    padding: 0;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;
}

.desserts1
{
    display:flex;
    margin: auto;
    
max-width: 925px;
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1.6em;
}


/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
display: flex;
max-width: 1000px;
justify-content: space-between;
margin: auto;
}
}
@media screen and (min-width: 1280px)

    {
.card-container1
{
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.5em;
  line-height: 2;
} 


.content
{
    padding: 0;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;
}

.desserts1
{
    display:flex;
    margin: auto;
    
max-width: 925px;
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1.6em;
}


/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
display: flex;
max-width: 1000px;
justify-content: space-between;
margin: auto;
}
.card-container1
{
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-top:75px;
  padding-bottom:75px;
  font-size: 1.5em;
  line-height: 2;
} 


.content
{
    padding: 0;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    
max-width: 925px;
}

.desserts1
{
    display:flex;
    margin: auto;
    
max-width: 925px;
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1.6em;
}


/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
display: flex;
max-width: 1000px;
justify-content: space-between;
margin: auto;
}
}