/*MENU 2 - Le chic à la française*/
/*Containers*/
.card-container2
{
  background-color: #fff5fe;
  font-family: Source_Serif_Pro;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  padding-top:20px;
  font-size: 0.9em;
  line-height: 2;
  width: 345px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
} 

.content2
{
    padding: 5px;
    margin:0;
}

/*Titres*/
.title2-1
{
    font-family: Junicoderegular;
    font-size: 1.5em;
    background-image: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.title2-starters
{
    
    color:#c67412;
    font-family: junicoderegular;
}
.title2-maincourses
{
    
    color:#a56799;
    
    font-family: junicoderegular;
}
.title2-desserts
{
    
    color: #6e4ccc;
    font-family: junicoderegular;
}


.lignemenu
{
  width: 90%;
  height: 90%;
  padding-top: 20px;
  padding-left: 5px;
}
.line2
{
display: flex;
justify-content: space-between;
margin: auto;}

/*Plats*/
.starters2
{
    color:#c67412;
    display:flex;
    justify-content: space-between;
    margin: auto;
min-width: 250px;
    
}

.main-courses2
{
    color:#a56799;
    display:flex;
    
    justify-content: space-between;
    margin: auto;
min-width: 250px;
}

.ulprixmain2
{line-height: 3.5}

.desserts2
{
    color: #6e4ccc;
    
    justify-content: space-between;
    margin: auto;
min-width: 250px;
    
}

@media screen and (min-width: 666px)
{
        .card-container2
    {
        min-width: 640px;
    }


    .content2
    {
        width: 600px;
        margin:0;
    }

    .prix2
    {
        line-height: 1.2;
        
    }

    
.ulprixmain2
{line-height: 2}

}


@media screen and (min-width: 760px)
{
    .card-container2
    {
        width: 730px;
  font-size: 0.9em;
    }
    
    
    .prix2
    {
        line-height: 1.2;
    }
}


@media screen and (min-width: 1280px)
{
    .card-container2
    {
      background-color: #fff5fe;
      font-family: Source_Serif_Pro;
      box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
      padding-top:75px;
      padding-bottom:75px;
      width: 1000px;
      font-size: 1.2em;
        line-height: 2.5;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    } 
    
    /*Titres*/
    .title2-1
    {
        font-family: Junicoderegular;
        font-size: 2em;
        background-image: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%); /* For Chrome and Safari */
        background-image:    -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Fx (3.6 to 15) */
        background-image:     -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For pre-releases of IE 10*/
        background-image:      -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    
.lignemenu
{
  width: auto;
  height: auto;
  
}
    
    .title2-starters
    {
        
        color:#c67412;
        font-family: junicoderegular;
    }
    .title2-maincourses
    {
        
        color:#a56799;
        
        font-family: junicoderegular;
    }
    .title2-desserts
    {
        
        color: #6e4ccc;
        font-family: junicoderegular;
    }
    
    
    .line2
    {
    display: flex;
    justify-content: space-between;
    margin: auto;}
    
    /*Plats*/
    .starters2
    {
        color:#c67412;
        display:flex;
        justify-content: space-between;
        margin: auto;
        
    }
    
    .main-courses2
    {
        color:#a56799;
        display:flex;
        
    justify-content: space-between;
    margin: auto;
    }
    
    .desserts2
    {
        color: #6e4ccc;
        
    justify-content: space-between;
    margin: auto;
        
    }
    
    .ul2
    {
        margin-left: 100px;
    }
    
    /*Prix*/
    .prix2-1
    {
    
        padding-left: 150px;
    }
    .ulprix
    {
        margin-left: 100px;
        font-size: 1.15em;
        line-height: 2.2em;
    }
}