/*MENU 1 - La note enchantée*/
/*Containers*/

    
.card-container1
{
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: Caveat;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  padding-top:20px;
  font-size: 1em;
  line-height: 1.5;
  width: 320px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
} 


.content
{
    padding: 0;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    margin-left:40px;

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    margin-left:40px;

}

.desserts1
{
    display:flex;
    margin: auto;
    max-width: 90%;
    margin-left:40px;
    
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;

line-height: 2.3;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1em;
}

.lignemenu
{
  width: 90%;
  height: 90%;
}

.imgnote1
{
    width: 20%;
    height:20%;}

/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
display: flex;
justify-content: space-between;
}



.content
{
    padding: 7px;
    margin:0;
}

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
min-width: 250px;

}

.main-courses1
{
    display:flex;
    justify-content: space-between;
    margin: auto;
    min-width: 250px;
}

.desserts1
{
    display:flex;
    margin: auto;
    min-width: 250px;
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
line-height: 2.5;
}


/*Titre du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1em;
}


@media screen and (min-width: 666px)
{.card-container1
{
    min-width: 640px;
}



.prix1
{
    line-height: 2;
    
}
}

@media screen and (min-width: 760px)
{.card-container1
{
    width: 730px;
}


.prix1
{
    line-height: 1.5;
}}

@media screen and (min-width: 1280px)

    {
.card-container1
{
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
  font-size: 1.5em;
  line-height: 2.5;
} 

/*Plats*/
.starters1
{
    display:flex;
    justify-content: space-between;
}

.main-courses1
{
    display:flex;
    justify-content: space-between;
}

.desserts1
{
    display:flex;
}

/*Prix*/
.prix1
{
font-weight: bold;
text-align: right;
display:flex;
justify-content: space-between;
line-height: 2.5;
}


/*Titres du menu*/

.title1-1
{
    font-family: Devonshire;
    text-align:center;
    font-size:1.6em;
}


/*Note enchantée, titre de fin*/

.titlefin
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.noteenchanteefin
{
    font-family: Devonshire;
    padding: 10px;
    margin-top: -25px;
}

.line1
{
    
    display: flex;
    max-width: 900px;
    justify-content: center;
}

.lignemenu
{
  width: auto;
  height: auto;
  
}
    }