/*MENU 2 - Le chic à la française*/
/*Containers*/
.card-container2
{
  background-color: #fff5fe;
  font-family: Source_Serif_Pro;
  box-shadow: 2px 1px 12px 2px rgba(0,0,0,0.12);
  padding-top:20px;
  font-size: 0.9em;
  line-height: 2;
  width: 320px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
} 

.content2
{
    padding: 5px;
    margin:0;
}

/*Titres*/
.title2-1
{
    font-family: Junicoderegular;
    font-size: 1.5em;
    background: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%); /* For Chrome and Safari */
    background:    -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Fx (3.6 to 15) */
    background:     -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For pre-releases of IE 10*/
    background:      -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Opera (11.1 to 12.0) */
    background: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
    color: transparent;
    -webkit-background-clip: text;
}

.title2-starters
{
    
    color:#c67412;
    font-family: junicoderegular;
}
.title2-maincourses
{
    
    color:#a56799;
    
    font-family: junicoderegular;
}
.title2-desserts
{
    
    color: #6e4ccc;
    font-family: junicoderegular;
}


.title1-2
{
    padding-right: 20px;
    margin-top: 10px;
}

.lignemenu
{
  width: 90%;
  height: 90%;
  padding-left: 5px;
}

.line2
{
display: flex;
justify-content: center;
margin: auto;}

/*Plats*/
.starters2
{
    color:#c67412;
    display:flex;
    justify-content: space-between;
    max-width: 70%;
    margin-left:40px;
    
}

.main-courses2
{
    color:#a56799;
    display:flex;
    justify-content: space-between;
    max-width: 70%;
    margin-left:40px;
}

.prix2
{
    margin-left: 10px;
    line-height: 2.8;
}
.ulprixmain2
{line-height: 5}

.desserts2
{
    color: #6e4ccc;
    
    justify-content: space-between;
    max-width: 70%;
    margin-left:40px;
    
}

@media screen and (min-width: 666px)
{
        .card-container2
    {
        min-width: 640px;
    }

    .prix2
    {
        line-height: 2;
        
    }

    
.ulprixmain2
{line-height: 2.3}

}


@media screen and (min-width: 760px)
{
    .card-container2
    {
        width: 730px;
  font-size: 0.9em;
    }

    .starters2
    {
        
        margin-left:60px;
        max-width: 80%;
    }
    
    .main-courses2
    {
        margin-left:60px;
        max-width: 80%;
    }
    
    .desserts2
    {
        margin-left:60px;
        max-width: 80%;
    }
    
    
    .prix2
    {
        line-height: 2;
    }
}


@media screen and (min-width: 1280px)
{
    .card-container2
    {
      
      padding-top:75px;
      padding-bottom:75px;
      width: 1000px;
      display: flex;
      justify-content: center;
      margin: auto;
      padding-bottom: 50px;
      font-size: 1.5em;
      line-height: 2.5;
    } 
    
    /*Titres*/
    .title2-1
    {
        font-family: Junicoderegular;
        font-size: 2em;
        background: -webkit-gradient(to right, #d8852e 0%, #905bfd 80%); /* For Chrome and Safari */
        background:    -moz-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Fx (3.6 to 15) */
        background:     -ms-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For pre-releases of IE 10*/
        background:      -o-linear-gradient(to right, #d8852e 0%, #905bfd 80%); /* For old Opera (11.1 to 12.0) */
        background: linear-gradient(to right, #d8852e 0%, #905bfd 60%);
        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    
.lignemenu
{
  width: auto;
  height: auto;
  
}
    .line2
    {
    display: flex;
    justify-content: space-between;
    margin: auto;}
    
    /*Plats*/
    .starters2
    {
        display:flex;
        justify-content: space-between;
        margin-left:60px;
        max-width: 80%;
        
    }
    
    .main-courses2
    {
        display:flex;
        justify-content: space-between;
        margin-left:60px;
        max-width: 80%;
    }
    
    .desserts2
    {
    justify-content: space-between;
    margin-left:60px;
    max-width: 80%;
        
    }
    
    .ul2
    {
        margin-left: 100px;
    }
    
    .ulprixmain2
    {
        line-height: 4;
    }
    .ulprix
    {
        margin-left: 100px;
        line-height: 2.2em;
    }
}