/*Animations index*/
/* Animation des titres des menus sur l'index*/

@keyframes fadeOut
{0%{opacity: 0.2;}
20%{opacity: 1;}
100%{opacity: 0.2;}}

/*Effet wiggle "Mentions légales" et "Contact*/

@keyframes wiggle 
{
  25%{transform: translateX(3%);}
  100%{transform: translateX(-3%);}
}

/*Animation bouton "Prochainement"*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    opacity: 1;
  }
}

.btn .fade1 {
  opacity: 0;
}
.btn .fade2 {
  opacity: 0;
}
.btn .fade3 {
  opacity: 0;
}
.btn:hover .fade1 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
.btn:hover .fade2 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 400ms;
}
.btn:hover .fade3 {
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 700ms;
}

  
/*Animations menus*/

/*Animation des titres des catégories dans les menus*/

h3
{&:hover{
  &::after{
  transform: scaleX(1);
  }
}
}

h3
{
    &::after{
  content:"";
  border-bottom: solid 2px;
  line-height: auto;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition-property: transform;
  transition: 1000ms;
  transform-origin: 0% 50%;}
}


